.button {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  outline: none;
  border: 0;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button > svg {
  margin-right: 10px;
}

.button:hover {
  opacity: 0.9;
}
